.favorites {
  width: 100%;
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.favorites .select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.favorites .select select {
  position: relative;
  display: flex;
  width: 10em;
  height: 30px;
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 0 0.5em;
  color: #808080;
}
