.login__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login__image {
  width: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  top: -60px;
}

.log_portal {
  width: 150px;
  animation: logoInfinite 4s linear infinite;
  display: inline-block;
  order: 2;
}

@keyframes logoInfinite {
  0% {
    transform: scale(0) rotate(0deg);
  }
  25% {
    transform: scale(0.5) rotate(180deg);
  }
  50% {
    transform: scale(1) rotate(360deg);
  }
}

.log_name {
  width: 250px;
  order: 1;
  position: absolute;
  animation: nameLogin 2s ease-out 4s alternate infinite;
}

@keyframes nameLogin {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(1.5);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

.main__login {
  background-color: rgba(237, 237, 237, 0.59);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -110px;
  z-index: 2;
  padding: 0 30px;
  font-size: 18px;
}

@media only screen and (max-width: 540px) {
  .main__login {
    font-size: calc(3vw + 2px);
  }
}

.login__header {
  padding-left: 10px;
  font-family: var(--text-primary);
  font-size: 13px;
  margin-top: 2rem;
  text-align: center;
}

.login__header h1 {
  color: var(--font-primary);
  text-align: center;
  padding: 0.5rem;
}
.login__form {
  width: 100%;
}
.login__form button {
  width: 100%;
  color: white;
  background-color: var(--color-primary);
  margin-bottom: 2rem;
  transition: background-color 0.5s;
}

.login__form button:hover {
  background-color: var(--color-phover);
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
  color: var(--font-primary);
}

.form__item label {
  font-size: 0.75rem;
  color: var(--text-color);
  letter-spacing: 0.075rem;
  font-weight: 600;
}

input[type="email"],
input[type="password"] {
  padding: 0 1em;
  transition: border-bottom 2s;
  color: var(--color-primary);
}
input:hover {
  border-bottom: 1px solid var(--color-phover);
}

input:invalid[focused="true"] {
  border: 1px solid var(--color-danger);
}
input:invalid[focused="true"] ~ span {
  display: block;
}

.form__error {
  color: var(--color-danger);
  font-size: 14px;
  padding: 3px;
  display: none;
  padding-left: 10px;
}

.login__header .data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.data:after,
.data::before {
  content: "";
  display: block;
  position: absolute;
  border: 5px;
  border: 1px solid black;
  animation: data 1.5s linear infinite;
}

@keyframes data {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  
}

.login__header .data span {
  padding-bottom: 0.5rem;
}

.login__header .data p {
  margin: 0;
}

.login__header .data > div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
