.login__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__image {
  width: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  top: -60px;
}

.log_portal {
  width: 150px;
  animation: logoInfinite 4s linear infinite;
  display: inline-block;
  order: 2;
}

@keyframes logoInfinite {
  0% {
    transform: scale(0) rotate(0deg);
  }
  25% {
    transform: scale(0.5) rotate(180deg);
  }
  50% {
    transform: scale(1) rotate(360deg);
  }
}

.log_name {
  width: 250px;
  order: 1;
  position: absolute;
  animation: nameLogin 2s ease-out 4s alternate infinite;
}

@keyframes nameLogin {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(1.5);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

.main__login {
  background-color: rgba(237, 237, 237, 0.59);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -110px;
  z-index: 2;
  padding: 0 30px;
  font-size: 18px;
}

.login__header {
  color: var(--color-primary);
  padding-left: 10px;
  text-align: center;
  font-family: var(--text-primary);
  font-size: 13px;
  margin-top: 1.5em;
}

.login__form {
  width: 100%;
}

.login__form button {
  background-color: var(--button-color-primary);
}

.login__form button:hover {
  background-color: var(--button-color-phover);
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item label {
  font-size: 16px;
  color: var(--text-color);
  letter-spacing: 2px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0 2em;
  margin: 10px;
  outline: none;
  height: 55px;
  border-radius: 5px;
  border: 1px solid gray;
  transition: background 2s;
  color: var(--text-color);
}

input:invalid[focused="true"] {
  border: 1px solid red;
}
input:invalid[focused="true"] ~ span {
  display: block;
}

.form__error {
  color: red;
  font-size: 14px;
  padding: 3px;
  display: none;
  padding-left: 10px;
}
