.main {
  margin: auto;
  width: 100%;
  max-width: 1350px;
  padding-top: 1rem;
  border-radius: var(--border-radius);
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.content {
  padding: 0 2rem;
  font-size: clamp(0.5rem, 10vw, 1.5rem);
  color: var(--font-primary);
}

.content p {
  line-height: 1.5;
}

.content .ref {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--color-primary);
  font-weight: 700;
}

.main .content .ref a {
  font-size: 3rem;
  color: var(--color-phover);
  padding: 1em;
  animation: spin 0.5s infinite;
}

.main .content .ref .one {
  position: relative;
  width: 56px;
  height: 56px;
  animation: myAnim 2s ease 0s infinite normal forwards;
}

.one::before {
  content: "";
  display: block;
  height: 28px;
  width: 28px;
  animation: spin 0.5s infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -28px;
  margin-top: -28px;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
