:root {
  --color-primary: #624f82;
  --text-color: #404258;
  --button-color-primary: #00337c;
  --button-color-phover: #0c7b93;
  --button-color-danger: #950101;
  --button-color-dhover: #ff0000;
  --text-primary: "Roboto Mono", monospace;
  --fondo-gradiente: rgba(237, 237, 237, 0.59);
}
