:root {
  --fondo-gradiente: rgba(237, 237, 237, 0.59);
  --text-primary: "Roboto Mono", monospace;
  --font-primary: #693c72;
  --color-primary: #00337c;
  --color-danger: #ff0000;
  --color-dhover: #950101;
  --color-phover: #0c7b93;
  --color-check: #008000;
  --color-pcheck: #55a630;
  /*varibles generales*/
  --border-radius: 5px;
  --anim-speed: 0.5s;
}
