.header__main {
  background-color: var(--fondo-gradiente);
  height: 8vh;
  font-size: clamp(1rem, 20vw, 2rem);
}

.header__content {
  height: 100%;
  max-width: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.nav__logo a {
  color: var(--color-primary);
  font-weight: 700;
  letter-spacing: 5px;
  transition: color 0.3s ease-in;
  font-weight: 800;
}

.nav__logo a:hover {
  color: var(--button-color-phover);
}

.nav__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  font-size: clamp(1rem, 20vw, 1.5rem);
  letter-spacing: 5px;
}

.nav__links a {
  padding-bottom: 10px;
  font-weight: 600;
  transition: 0.4s ease-in;
}
.active {
  color: var(--button-color-phover);
  border-bottom: 1px solid var(--button-color-phover);
}

.logout {
  background-color: var(--button-color-danger);
  padding: 0.3em 0.2em 0.3em 0.2em;
  text-transform: capitalize;
  letter-spacing: 2px;
  opacity: 0.8;
  transition: background-color 1s ease-in;
}

.logout:hover {
  background-color: var(--button-color-dhover);
}

.nav__hamburger {
  display: none;
}

.search {
  display: none;
}

.search .color {
  color: var(--text-color);
}

@media only screen and (max-width: 960px) {
  /* Styles here */

  .nav__hamburger {
    display: flex;
    width: 25%;
    justify-content: space-between;
  }

  .nav__links {
    position: absolute;
    top: 8vh;
    right: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--fondo-gradiente);
    transition: 0.5 all ease-in;
  }
  .links__item {
    font-size: 1.8rem;
    padding: 0.5em 1em;
  }

  .isOpen {
    right: 0;
  }

  .nav__search {
    display: none;
  }

  .search {
    display: flex;
  }

  .isSearch {
    display: flex;
    max-width: 1350px;
    margin: auto;
  }
}

@media screen and (max-width: 1350px) {
  /* Styles here */
  .header__main {
    padding: 0 2.2em 0 2.2em;
  }
}
